<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Set MIME types for JSON data files -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <!-- Set MIME types for font files -->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <!-- Redirect to index.html for SPA routing -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Enable CORS -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <!-- Set cache headers for data files -->
        <add name="Cache-Control" value="max-age=3600" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>