run = "npm run start:prod"
language = "nodejs"

[nix]
channel = "stable-23_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:/run/current-system/sw/bin"
NODE_ENV = "production"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 7072
externalPort = 7072

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start:prod"]